<div class="collapse searchbar" id="searchbar">
    <div class="search-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
        </span> </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
        </div>
    </div>
</div>
<div class="top-bar">
    <!-- top-bar -->
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6 col-6 d-none d-xl-block d-lg-block">
                <p class="mail-text">Welcome to our Borrow Loan Website Templates</p>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12 col-12 text-right">
                <div class="top-nav"> <span class="top-text"><a href="#">View Locations</a> </span> <span class="top-text"><a href="#">+1800-123-4567</a></span> <span class="top-text"><a href="#">EMI calculator</a></span> </div>
            </div>
        </div>
    </div>
</div>
<!-- /.top-bar -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-6 col-6">
                <!-- logo -->
                <div class="logo">
                    <a href="index.html">
                      <%= image_tag('logo.png') %>
                    </a>
                </div>
            </div>
            <!-- logo -->
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div id="navigation">
                    <!-- navigation start-->
                    <ul>
                        <li class="active"><a href="#" class="animsition-link">Home</a>
                            <ul>
                                <li><a href="index.html" title="Home page 1" class="animsition-link">Home page 1</a></li>
                                <li><a href="index-1.html" title="Home page 2" class="animsition-link">Home page 2</a></li>
                                <li><a href="index-2.html" title="Home page 3" class="animsition-link">Home page 3</a></li>
                                <li><a href="index-3.html" title="Home page 4" class="animsition-link">Home page 4
                                 <span class="badge">New</span></a></li>
                                <li><a href="index-4-students-loan.html" title="students loan" class="animsition-link">Students Loan Page <span class="badge">New</span></a> </li>
                                <li><a href="index-5-business-loan.html" title="students loan" class="animsition-link">Business Loan Page<span class="badge">New</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="animsition-link">Loan Product</a>
                            <ul>
                                <li><a href="#" title="Education Loan" class="animsition-link">Credit Card <span class="badge">New</span></a>
                                    <ul>
                                        <li><a href="credit-card-listing.html" title="Credit Card Listing" class="animsition-link">Credit Card Listing</a></li>
                                        <li><a href="credit-card-single.html" title="Credit Card Single" class="animsition-link">Credit Card Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" title="Lenders" class="animsition-link">Lenders <span class="badge">New</span></a>
                                    <ul>
                                        <li><a href="lender-listing.html" title="Credit Card Listing" class="animsition-link">Lenders Listing</a></li>
                                        <li><a href="lender-single.html" title="Credit Card Single" class="animsition-link">Lenders Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="product-single-sidebar.html">Product page side tab <span class="badge">New</span></a>
                                </li>
                                <li><a href="loan-listing-image.html" title="Loan Image Listing" class="animsition-link">Loan Image Listing</a></li>
                                <li><a href="loan-listing-icon.html" title="Loan Icon Listing" class="animsition-link">Loan Icon Listing</a></li>
                                <li><a href="car-loan.html" title="Car Loan" class="animsition-link">Car Loan Single</a></li>
                                <li><a href="personal-loan.html" title="Personal Loan" class="animsition-link">Personal Loan Single</a></li>
                                <li><a href="home-loan.html" title="Home Loan" class="animsition-link">Home Loan Single</a></li>
                                <li><a href="education-loan.html" title="Education Loan" class="animsition-link">Education Loan Single</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html" class="animsition-link">About us</a>
                            <ul>
                                <li><a href="about.html" title="About us" class="animsition-link">About us</a></li>
                                <li><a href="team.html" title="Team" class="animsition-link">Team</a></li>
                            </ul>
                        </li>
                        <li><a href="blog-listing.html" class="animsition-link">Blog</a>
                            <ul>
                                <li><a href="blog-listing.html" title="Blog Listing" class="animsition-link">Blog Listing</a></li>
                                <li><a href="blog-single.html" title="Blog Single" class="animsition-link">Blog Single</a></li>
                                <li><a href="blog-two-column.html" title="Blog Two Column" class="animsition-link">Blog Two Column</a></li>
                                <li><a href="blog-three-column.html" title="Blog Three Column" class="animsition-link">Blog Three Column</a></li>
                            </ul>
                        </li>
                        <li><a href="compare-loan.html" class="animsition-link">Features</a>
                            <ul>
                                <li><a href="compare-loan.html" title="Compare Loan" class="animsition-link">Compare Loan</a></li>
                                <li><a href="loan-calculator.html" title="Loan Calculator" class="animsition-link">Loan Calculator</a></li>
                                <li><a href="loan-eligibility.html" title="Loan Calculator" class="animsition-link">Loan Eligibility Cal <span class="badge">NEW</span></a></li>
                                <li><a href="landing-page-car-loan.html" title="Loan Calculator" class="animsition-link">Car Loan
                                 <small class="highlight">Landing Page</small>

                                 </a></li>
                                <li><a href="landing-page-home-loan.html" title="Loan Calculator" class="animsition-link">Home Loan
                                 <small class="highlight">Landing Page</small>

                                 </a></li>
                                <li><a href="faq.html" title="Faq" class="animsition-link">Faq page</a></li>
                                <li><a href="testimonial.html" title="Testimonial" class="animsition-link">Testimonial</a></li>
                                <li><a href="error.html" title="404 Error" class="animsition-link">404 Error</a></li>
                                <li><a href="gallery-filter-2.html" class="animsition-link">Gallery</a>
                                    <ul>
                                        <li><a href="gallery-filter-2.html" title="Filterable Gallery 2 column" class="animsition-link">Filterable Gallery 2 column</a></li>
                                        <li><a href="gallery-filter-3.html" title="Filterable Gallery 3 column" class="animsition-link">Filterable Gallery 3 column</a></li>
                                        <li><a href="gallery-masonry.html" title="Masonry Gallery" class="animsition-link">Masonry Gallery</a></li>
                                        <li><a href="gallery-zoom.html" title="Zoom Gallery" class="animsition-link">Zoom Gallery</a></li>
                                    </ul>
                                </li>
                                <li><a href="shortcodes-tabs.html" class="animsition-link">Shortcodes</a>
                                    <ul>
                                        <li><a href="shortcodes-tables.html" title="Table" class="animsition-link">Table</a></li>
                                        <li><a href="shortcodes-tabs.html" title="Tab" class="animsition-link">Tab</a></li>
                                        <li><a href="shortcodes-accordion.html" title="Accordion" class="animsition-link">Accordion</a></li>
                                        <li><a href="shortcodes-alert.html" title="Alert" class="animsition-link">Alert</a></li>
                                        <li><a href="shortcodes-button.html" title="Button" class="animsition-link">Button</a></li>
                                        <li><a href="shortcodes-column.html" title="Column" class="animsition-link">Column</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="contact-us.html" title="Contact us" class="animsition-link">Contact us</a></li>
                    </ul>
                </div>
                <!-- /.navigation start-->
            </div>
            <div class="col-xl-l col-lg-1 col-md-1 col-sm-1 col-12 d-none d-xl-block d-lg-block">
                <!-- search start-->
                <div class="search-nav"> <a class="search-btn" role="button" data-toggle="collapse" href="#searchbar" aria-expanded="false"><i class="fa fa-search"></i></a> </div>
            </div>
            <!-- /.search start-->
        </div>
    </div>
</div>
<div class="slider" id="slider">
    <!-- slider -->
    <div class="slider-img">
      <%= image_tag('slider-1.jpg') %>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="slider-captions">
                        <!-- slider-captions -->
                        <h1 class="slider-title">Personal Loan to Suit Your Needs. </h1>
                        <p class="slider-text d-none d-xl-block d-lg-block d-sm-block">The low rate you need for the need you want! Call
                            <br>
                            <strong class="text-highlight">(555) 123-4567</strong></p>
                        <a href="team.html" class="btn btn-default">Loan Products</a> </div>
                    <!-- /.slider-captions -->
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="slider-img">
          <%= image_tag('slider-2.jpg') %>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="slider-captions">
                            <!-- slider-captions -->
                            <h1 class="slider-title"> Lowest Car Loan Rate <strong class="text-highlight">9.60%</strong> </h1>
                            <p class="slider-text d-none d-xl-block d-lg-block d-sm-block"> We provide an excellent service Loan company. Lorem ipsum simple dummy content goes here.</p>
                            <a href="#" class="btn btn-default">Check Eligiblity</a> </div>
                        <!-- /.slider-captions -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="slider-img">
          <%= image_tag('slider-3.jpg') %>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="slider-captions">
                            <!-- slider-captions -->
                            <h1 class="slider-title">Student Loans with Greate Rates <strong class="text-highlight">11.10%</strong></h1>
                            <p class="slider-text d-none d-xl-block d-lg-block d-sm-block">We provide an excellent service for all types of loans in
                                <br> ahmedabad and offer service, advice and direction.</p>
                            <a href="#" class="btn btn-default ">View Products</a> </div>
                        <!-- /.slider-captions -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rate-table">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  ">
                      <%= image_tag('mortgage.svg', class: 'icon-svg-1x') %>
                    </div>

                    <div class="rate-box">
                        <h1 class="loan-rate">3.74%</h1>
                        <small class="rate-title">Home Loans</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  ">
                      <%= image_tag('loan.svg', class: 'icon-svg-1x') %>
                    </div>
                    <div class="rate-box">
                        <h1 class="loan-rate">8.96%</h1>
                        <small class="rate-title">Personal Loans</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  ">
                       <%= image_tag('car.svg', class: 'icon-svg-1x') %>
                     </div>
                    <div class="rate-box">
                        <h1 class="loan-rate">6.70%</h1>
                        <small class="rate-title">Car Loans</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  ">
                      <%= image_tag('credit-card.svg', class: 'icon-svg-1x') %>
                    </div>
                    <div class="rate-box">
                        <h1 class="loan-rate">9.00%</h1>
                        <small class="rate-title">Credit card</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-space80">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title start-->
                    <h1>Find Loan Products We Offers</h1>
                    <p>We will match you with a loan program that meet your financial need. In short term liquidity, by striving to make funds available to them <strong>within 24 hours of application.</strong></p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="service" id="service">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-white pinside40 service-block outline mb30">
                        <div class="icon mb40">
                          <%= image_tag('loan.svg', class: 'icon-svg-2x') %>
                        </div>
                        <h2><a href="#" class="title">Personal Loan</a></h2>
                        <p>Lorem ipsum dolor sit ameectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
                        <a href="#" class="btn-link">Read More</a> </div>
                </div>
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-white pinside40 service-block outline mb30">
                        <div class="icon mb40">
                          <%= image_tag('mortgage.svg', class: 'icon-svg-2x') %>
                        </div>
                        <h2><a href="#" class="title">Home Loan</a></h2>
                        <p>Sed ut perspiciatis unde omnis rror sit voluptatem accusan tium dolo remque laudantium, totam rem aperiam, eaque ipsa </p>
                        <a href="#" class="btn-link">Read More</a> </div>
                </div>
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-white pinside40 service-block outline mb30">
                        <div class="icon mb40">
                           <%= image_tag('piggy-bank.svg', class: 'icon-svg-2x') %>
                         </div>
                        <h2><a href="#" class="title">Education Loan</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elmodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
                        <a href="#" class="btn-link">Read More</a> </div>
                </div>
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-white pinside40 service-block outline mb30">
                        <div class="icon mb40">
                          <%= image_tag('loan.svg', class: 'icon-svg-2x') %>
                        </div>
                        <h2><a href="#" class="title">Business Loan</a></h2>
                        <p>Lorem ipsum dolor sit nean commodo ligula eget dolor simple dummyum sociis natoque.amet, consectetuer adipiscing elit. </p>
                        <a href="#" class="btn-link">Read More</a> </div>
                </div>
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-white pinside40 service-block outline mb30">
                        <div class="icon mb40">
                          <%= image_tag('car.svg', class: 'icon-svg-2x') %>
                         </div>
                        <h2><a href="#" class="title">Car Loan</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                        <a href="#" class="btn-link">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-white section-space80">
    <div class="container">
        <div class="row">
             <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb100 text-center section-title">
                    <!-- section title start-->
                    <h1>Fast &amp; Easy Application Process.</h1>
                    <p>Suspendisse aliquet varius nunc atcibus lacus sit amet coed portaeri sque mami luctus viveed congue lobortis faucibus.</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="bg-white pinside40 number-block outline mb60 bg-boxshadow">
                    <div class="circle"><span class="number">1</span></div>
                    <h3 class="number-title">Choose Loan Amount</h3>
                    <p>Suspendisse accumsan imperdue ligula dignissim sit amet vestibulum in mollis etfelis.</p>
                </div>
            </div>
           <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="bg-white pinside40 number-block outline mb60 bg-boxshadow">
                    <div class="circle"><span class="number">2</span></div>
                    <h3 class="number-title">Approved Your Loan</h3>
                    <p>Fusce tempor sstibulum varius sem nec mi luctus viverra edcongue lobortis faucibus.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="bg-white pinside40 number-block outline mb60 bg-boxshadow">
                    <div class="circle"><span class="number">3</span></div>
                    <h3 class="number-title">Get Your Cash</h3>
                    <p>Get your money in minutes simtibulm varius semnec mluctus gue lobortis faucibus.</p>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12 text-center"> <a href="#" class="btn btn-default">View Our Loans</a> </div>
        </div>
    </div>
</div>
<div class="section-space80">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title start-->
                    <h1>Why People Choose Us</h1>
                    <p>Suspendisse aliquet varius nunc atcibus lacus sit amet coed portaeri sque mami luctus viveed congue lobortis faucibus.</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white bg-boxshadow">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
                            <div class="bg-white pinside60 number-block outline">
                                <div class="mb20"><i class="icon-command  icon-4x icon-primary"></i></div>
                                <h3>Dedicated Specialists</h3>
                                <p>Duis eget diam quis elit erdiet alidvolutp terdum tfanissim non intwesollis eu mauris.</p>
                                <a href="#" class="btn btn-outline mt20">Meet the team</a> </div>
                        </div>
                         <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
                            <div class="bg-white pinside60 number-block outline">
                                <div class="mb20"><i class="icon-cup  icon-4x icon-primary"></i></div>
                                <h3>Success Stories Rating</h3>
                                <p>Integer facilisis fringilla dolor ut luctus lvinar felis miat velitliquam at fermentum orci.</p>
                                <a href="#" class="btn btn-outline mt20">View Client Review</a> </div>
                        </div>
                         <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
                            <div class="bg-white pinside60 number-block outline">
                                <div class="mb20"><i class="icon-calculator  icon-4x icon-primary"></i></div>
                                <h3>No front Appraisal Fees!</h3>
                                <p> Integer faisis fringilla dolor ut luctus nisi eneinar felis viverra dignissim fermentum orci.</p>
                                <a href="#" class="btn btn-outline mt20">Why choose us</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-default section-space80">
    <div class="container">
        <div class="row">
             <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title start-->
                    <h1 class="title-white">Some of our Awesome Testimonials</h1>
                    <p> You won’t be the only one lorem ipsu mauris diam mattises.</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 clearfix ">
                <div class="testimonial-block mb30">
                    <div class="bg-white pinside30 mb20">
                        <p class="testimonial-text"> “I loved the customer service you guys provided me. That was very nice and patient with questions I had. I would really like definitely come back here”</p>
                    </div>
                    <div class="testimonial-autor-box">
                        <div class="testimonial-img pull-left">
                          <%= image_tag('testimonial-img.jpg') %>
                        </div>
                        <div class="testimonial-autor pull-left">
                            <h4 class="testimonial-name">Donny J. Griffin</h4>
                            <span class="testimonial-meta">Personal Loan</span> </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 clearfix ">
                <div class="testimonial-block mb30">
                    <div class="bg-white pinside30 mb20">
                        <p class="testimonial-text"> “I had a good experience with Insight Loan Services. I am thankful to insight for the help you guys gave me. My loan was easy and fast. thank you Insigtht”</p>
                    </div>
                    <div class="testimonial-autor-box">
                        <div class="testimonial-img pull-left">
                          <%= image_tag('testimonial-img-1.jpg') %>
                         </div>
                        <div class="testimonial-autor pull-left">
                            <h4 class="testimonial-name">Mary O. Randle</h4>
                            <span class="testimonial-meta">Education Loan</span> </div>
                    </div>
                </div>
            </div>
           <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 clearfix ">
                <div class="testimonial-block mb30">
                    <div class="bg-white pinside30 mb20">
                        <p class="testimonial-text"> “We came out of their offices very happy with their service. They treated us very kind. Definite will come back. The waiting time was very appropriate.”</p>
                    </div>
                    <div class="testimonial-autor-box">
                        <div class="testimonial-img pull-left">
                          <%= image_tag('testimonial-img-2.jpg') %>
                         </div>
                        <div class="testimonial-autor pull-left">
                            <h4 class="testimonial-name">Lindo E. Olson</h4>
                            <span class="testimonial-meta">Car Loan</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-space40 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"><%= image_tag('logo-1.jpg') %> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <%= image_tag('logo-2.jpg') %> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <%= image_tag('logo-3.jpg') %> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <%= image_tag('logo-4.jpg') %> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <%= image_tag('logo-5.jpg') %> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <%= image_tag('logo-1.jpg') %> </div>
        </div>
    </div>
</div>
<div class="section-space80">
    <div class="container">
        <div class="row">
             <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title start-->
                    <h1>Latest News from Loan Company</h1>
                    <p> Our mission is to deliver reliable, latest news and opinions.</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="post-block mb30">
                    <div class="post-img">
                        <a href="blog-single.html" class="imghover">
                          <%= image_tag('blog-img.jpg', class: 'img-responsive') %>
                        </a>
                    </div>
                    <div class="bg-white pinside40 outline">
                        <h2><a href="blog-single.html" class="title">Couples Buying New Home Loan</a></h2>
                        <p class="meta"><span class="meta-date">Aug 25, 2017</span><span class="meta-author">By<a href="#"> Admin</a></span></p>
                        <p>Fusce sed erat libasellus id orci quis ligula pret do lectus velit, a malesuada urna sodales eu.</p>
                        <a href="blog-single.html" class="btn-link">Read More</a> </div>
                </div>
            </div>
             <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="post-block mb30">
                    <div class="post-img">
                        <a href="blog-single.html" class="imghover">
                          <%= image_tag('blog-img.jpg', class: 'img-responsive') %>
                        </a>
                    </div>
                    <div class="bg-white pinside40 outline">
                        <h2><a href="blog-single.html" class="title">Business Man Thinking for Loan</a></h2>
                        <p class="meta"><span class="meta-date">Aug 24, 2017</span><span class="meta-author">By<a href="#"> Admin</a></span></p>
                        <p>Nulla vehicula nibh vel malesuada dapibus ringilla nunc mi sit amet fbendum sapierttitor nibh. </p>
                        <a href="blog-single.html" class="btn-link">Read More</a> </div>
                </div>
            </div>
             <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="post-block mb30">
                    <div class="post-img">
                        <a href="blog-single.html" class="imghover">
                          <%= image_tag('blog-img.jpg', class: 'img-responsive') %>
                        </a>
                    </div>
                    <div class="bg-white pinside40 outline">
                        <h2><a href="blog-single.html" class="title">Are you students looking for loan ?</a></h2>
                        <p class="meta"><span class="meta-date">Aug 23, 2017</span><span class="meta-author">By<a href="#"> Admin</a></span></p>
                        <p>Malesuada urna sodales euusce sed erat libasellus id orci quis ligula pretium co ctus velit.</p>
                        <a href="blog-single.html" class="btn-link">Read More</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-space80 bg-white">
    <div class="container">
        <div class="row">
           <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title-->
                    <h1>We are Here to Help You</h1>
                    <p>Our mission is to deliver reliable, latest news and opinions.</p>
                </div>
                <!-- /.section title-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
                    <div class="mb40"><i class="icon-calendar-3 icon-2x icon-default"></i></div>
                    <h2 class="capital-title">Apply For Loan</h2>
                    <p>Looking to buy a car or home loan? then apply for loan now.</p>
                    <a href="#" class="btn-link">Get Appointment</a> </div>
            </div>
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
                    <div class="mb40"><i class="icon-phone-call icon-2x icon-default"></i></div>
                    <h2 class="capital-title">Call us at </h2>
                    <h1 class="text-big">800-123-456 / 789 </h1>
                    <p>lnfo@loanadvisor.com</p>
                    <a href="#" class="btn-link">Contact us</a> </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
                    <div class="mb40"> <i class="icon-users icon-2x icon-default"></i></div>
                    <h2 class="capital-title">Talk to Advisor</h2>
                    <p>Need to loan advise? Talk to our Loan advisors.</p>
                    <a href="#" class="btn-link">Meet The Advisor</a> </div>
            </div>
        </div>
    </div>
</div>
 <div class="footer section-space100">
    <!-- footer -->
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="footer-logo">
                    <!-- Footer Logo -->
                    <%= image_tag('ft-logo.png') %>
                  </div>
                <!-- /.Footer Logo -->
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                    <h3 class="newsletter-title">Signup Our Newsletter</h3>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                    <div class="newsletter-form">
                        <!-- Newsletter Form -->
                        <form action="newsletter.php" method="post">
                            <div class="input-group">
                                <input type="email" class="form-control" id="newsletter" name="newsletter" placeholder="Write E-Mail Address" required>
                                <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
            </span> </div>
                            <!-- /input-group -->
                        </form>
                    </div>
                    <!-- /.Newsletter Form -->
                </div>
            </div>
                <!-- /.col-lg-6 -->
            </div>
        </div>
        <hr class="dark-line">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="widget-text mt40">
                    <!-- widget text -->
                    <p>Our goal at Borrow Loan Company is to provide access to personal loans and education loan, car loan, home loan at insight competitive interest rates lorem ipsums. We are the loan provider, you can use our loan product.</p>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <p class="address-text"><span><i class="icon-placeholder-3 icon-1x"></i> </span>3895 Sycamore Road Arlington, 97812 </p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <p class="call-text"><span><i class="icon-phone-call icon-1x"></i></span>800-123-456</p>
                        </div>
                    </div>
                </div>
                <!-- /.widget text -->
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="widget-footer mt40">
                    <!-- widget footer -->
                    <ul class="listnone">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <!-- /.widget footer -->
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="widget-footer mt40">
                    <!-- widget footer -->
                    <ul class="listnone">
                        <li><a href="#">Car Loan</a></li>
                        <li><a href="#">Personal Loan</a></li>
                        <li><a href="#">Education Loan</a></li>
                        <li><a href="#">Business Loan</a></li>
                        <li><a href="#">Home Loan</a></li>
                        <li><a href="#">Debt Consolidation</a></li>
                    </ul>
                </div>
                <!-- /.widget footer -->
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="widget-social mt40">
                    <!-- widget footer -->
                    <ul class="listnone">
                        <li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i>Google Plus</a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i>Linked In</a></li>
                    </ul>
                </div>
                <!-- /.widget footer -->
            </div>
        </div>
    </div>
</div>
<!-- /.footer -->
<div class="tiny-footer">
    <!-- tiny footer -->
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <p>© Copyright 2016 | Borrow Loan Company</p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-right">
                <p>Terms of use | Privacy Policy</p>

            </div>
        </div>
    </div>
</div>
<!-- back to top icon -->
<a href="#0" class="cd-top" title="Go to top">Top</a>
